<div class="jumbotron">
  <h1 id="top">'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

    aaaa : {{vm.awesomeThings}}

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>

    <div class="btn btn-primary" ng-click="vm.getData()" ng-show="vm.countData > 0">Click me</div>

    <input type="text" ng-model="vm.countData" />

    <h4>Very long div</h4>
    <div style="height: 1000px"/>

    <a class="help-block" href="" ng-click="vm.scrollTo('top')">Come back to top</a>
</div>
