
<div class="container">

    <div class="row">
        This page use a WEB API Api to retrieve data. Ensure the Web server is started.
    </div>

    <div class="row voffset3">
        <div class="col-md-4 btn btn-primary" ng-click="vm.generateData()" ng-show="vm.countData > 0">Generate &amp; store random data</div>
        <div class="col-md-4"><input type="text" ng-model="vm.countData" /></div>
        <span ng-class="{'col-md-4 label label-success': vm.status, 'col-md-4 label label-danger': !vm.status}">{{vm.statuslbl}}</span>
    </div>
    <div class="row voffset3">
        <div class="col-md-12 myborder">
            <label>Search for operations</label>
                <md-radio-group ng-model="vm.typeOperation" class="md-primary">
                    <md-radio-button ng-repeat="d in vm.typeOpeData" ng-value="d.value">
                        {{ d.label }}<br>
                    </md-radio-button>
                </md-radio-group>
            <div class="myGrid" ui-grid="vm.gridOptions"></div>
            <label># count: {{vm.gridOptions.data.length}}</label>
        </div>
    </div>

    <div class="row voffset3">
        <canvas id="line" ng-show="vm.showChart" class="chart chart-line" chart-data="vm.data" chart-labels="vm.labels"
                chart-legend="true" chart-series="vm.series" chart-click="vm.onClick"></canvas>

        <div class="col-md-12 btn btn-warning voffset3" ng-click="vm.deleteAll()">Delete All Data</div>
    </div>


    <pre>{{vm.labels | json}}</pre>

    <br/>
    <pre>{{vm.data | json}}</pre>
    <!--<pre>{{vm.gridOptions | json}}</pre>-->

</div>