
<div class="container">

    <div class="row">
        <h1 ng-bind-html="'RESTAURANT.TITLE'|translate"></h1>
    </div>

    <div class="row" ng-bind-html="'RESTAURANT.DESC'|translate">
    </div>

    <div class="row voffsettopbot3">
        <p class="text-center" ng-hide="vm.dataLoaded">
            <i class="fa fa-spinner fa-spin fa-4x"></i>
        </p>
        <div id="grid1"
             ng-class="vm.dataLoaded? 'grid showgrid' : 'grid hidegrid'"
             ui-grid="{ data: vm.restaurants }" />

        <label>Count: #{{vm.restaurants.length}}</label>
    </div>

    <div class="row voffsettopbot3">
        <button class="btn btn-primary" ng-click="vm.showRestaurant()" ng-bind-html="'RESTAURANT.ADD_RESTAURANT'|translate"></button>
    </div>

    <div class="row voffsettopbot3">
        <label>{{ 'RESTAURANT.SEARCH'|translate }}</label> <input type="text" class="sfTypeahead" options="vm.exampleOptions" datasets="vm.exampleData" ng-model="vm.resultSearchSelected">
    </div>

    <!--<div ng-class="vm.dataLoaded? 'row voffset3 showgrid' : 'row voffset3 hidegrid'">HIII !</div>-->

    <!--<pre>{{vm.dataLoaded | json}}</pre>-->
    <!--<pre>{{vm.restaurants | json}}</pre>-->
    <!--<pre>{{vm.numbers.local | json}}</pre>-->    
    <!--<pre>{{vm.resultSearchSelected | json}}</pre>-->    
    

</div>